<div class="main-page">
  <app-pwa-header
    [title]="mode === 'edit' ? 'Edit Package' : 'Add Package'"
    [backButtonVisible]="true"
  ></app-pwa-header>

  <div class="content">
    <div class="container">
      <div class="card-info">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Package Name</mat-label>
          <input
            matInput
            placeholder="Package Name"
            id="parentName"
            required
            [(ngModel)]="package.name"
          />
          @if (package.name === '') {
            <mat-error>Package Name is required</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Package Description</mat-label>
          <textarea
            matInput
            id="parentDescription"
            required
            [(ngModel)]="package.description"
          ></textarea>
          @if (package.description === '') {
            <mat-error>Package Description is required</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label class="stock-label">Base Price</mat-label>
          <input
            matInput
            type="number"
            class="stock-input"
            id="parentPrice"
            min="0"
            [(ngModel)]="package.basePrice"
          />
        </mat-form-field>
      </div>
    </div>

    <div class="card-info">
      <div
        style="
          display: flex;
          flex-direction: row;
          gap: 12px;
          align-items: center;
          margin-bottom: 12px;
        "
      >
        <h2 class="section-title">Items</h2>
      </div>
      <table mat-table class="table-rates" [dataSource]="package.items">
        <ng-container matColumnDef="itemName">
          <th mat-header-cell *matHeaderCellDef>Item Name</th>
          <td mat-cell *matCellDef="let element">
            <mat-select placeholder="Select Item" required [(ngModel)]="element.itemId">
              @for (item of itemList$ | async; track $index) {
                <mat-option [value]="item.id">{{ item.name }}</mat-option>
              }
            </mat-select>
          </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantity</th>
          <td mat-cell *matCellDef="let element">
            <input
              matInput
              required
              [(ngModel)]="element.quantity"
              class="stock-input"
              type="number"
              min="0"
            />
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <mat-icon (click)="removeItem(element.itemId)">delete</mat-icon>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsItems"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsItems"></tr>
      </table>
      <button mat-button (click)="addItem()">
        <mat-icon>add</mat-icon>
        Add Item
      </button>
    </div>

    <div class="card-info">
      <div
        style="
          display: flex;
          flex-direction: row;
          gap: 12px;
          align-items: center;
          margin-bottom: 12px;
        "
      >
        <div class="card-title" style="margin-bottom: 0">Rates</div>
        <mat-slide-toggle [(ngModel)]="is_active"></mat-slide-toggle>
      </div>
      @if (is_active) {
        <div class="table-wrapper">
          <table mat-table class="table-rates" [dataSource]="package.rates">
            <ng-container matColumnDef="minDays">
              <th mat-header-cell *matHeaderCellDef>Min Days</th>
              <td mat-cell *matCellDef="let element">
                <input
                  matInput
                  required
                  [(ngModel)]="element.minDays"
                  class="stock-input"
                  type="number"
                  min="0"
                />
              </td>
            </ng-container>
            <ng-container matColumnDef="dailyRate">
              <th mat-header-cell *matHeaderCellDef>Daily Rate</th>
              <td mat-cell *matCellDef="let element">
                <input
                  matInput
                  required
                  [(ngModel)]="element.dailyRate"
                  class="stock-input"
                  type="number"
                  min="0"
                />
              </td>
            </ng-container>
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <mat-icon (click)="deleteRate(element.id)">delete</mat-icon>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
        <div>
          <button mat-button (click)="addRate()">Add Rate</button>
        </div>
      }
    </div>

    <button class="save-btn" (click)="onSubmit()">Save</button>
  </div>
</div>
