<div
  class="container"
  tabindex="0"
  (click)="onItemClick()"
  (keydown.enter)="onItemClick()"
  (keydown.space)="onItemClick()"
>
  <div class="content">
    <div class="settings-item">
      <div class="icon-container">
        <mat-icon class="icon icon">store</mat-icon>
      </div>
      <div class="item">
        <div class="item-title">{{ store?.name }}</div>
        <div class="item-desc">{{ store?.description }}</div>
      </div>
    </div>
    <div class="chevron-icon">
      <mat-icon>chevron_right</mat-icon>
    </div>
  </div>
</div>
