<div class="dialog">
  <h2 mat-dialog-title>Change Password</h2>
  <mat-dialog-content class="dialog-content">
    <form [formGroup]="password" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Current Password</mat-label>
        <input
          matInput
          formControlName="currentPassword"
          (blur)="updateErrorMessages('currentPassword')"
          [type]="hide.current ? 'password' : 'text'"
          required
        />
        <mat-icon matSuffix (click)="hide.current = !hide.current">
          {{ hide.current ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        <mat-error>{{ errorMessages.current() }}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>New Password</mat-label>
        <input
          matInput
          formControlName="newPassword"
          (blur)="updateErrorMessages('newPassword')"
          [type]="hide.new ? 'password' : 'text'"
          required
        />
        <mat-icon matSuffix (click)="hide.new = !hide.new">
          {{ hide.new ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        <mat-error>{{ errorMessages.new() }}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Confirm New Password</mat-label>
        <input
          matInput
          formControlName="confirmNewPassword"
          (blur)="updateErrorMessages('confirmNewPassword')"
          [type]="hide.confirm ? 'password' : 'text'"
          required
        />
        <mat-icon matSuffix (click)="hide.confirm = !hide.confirm">
          {{ hide.confirm ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        <mat-error>{{ errorMessages.confirm() }}</mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onSubmit()" cdkFocusInitial>Submit</button>
  </mat-dialog-actions>
</div>
