<div class="login-container">
  <h1 class="login-title">LOGIN</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Enter your email" />
      <mat-error>{{ getErrorMessage('email') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
        placeholder="Enter your password"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="togglePasswordVisibility()"
        [attr.aria-label]="hidePassword ? 'Show password' : 'Hide password'"
        [attr.aria-pressed]="!hidePassword"
      >
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error>{{ getErrorMessage('password') }}</mat-error>
    </mat-form-field>

    <div class="button-group">
      <button mat-raised-button type="button" (click)="onClickRegister()">Register</button>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </div>

    <div class="forgot-password">
      <button mat-raised-button type="button" (click)="onClickForgetPassword()">
        Forget Password?
      </button>
    </div>
  </form>
</div>
