<div class="container">
  <mat-card class="user-info-card">
    <div class="user-details">
      <div class="user-name">{{ userName }}</div>
      <div class="user-email">{{ userEmail }}</div>
    </div>
  </mat-card>
  <button
    mat-flat-button
    *ngIf="userRole === 'admin'"
    (click)="goToEmployeesManagement()"
    class="employees-management-btn"
  >
    User Management Control
  </button>
  <div class="spacer"></div>
  <button class="btn-danger" mat-flat-button (click)="logout()">logout</button>
</div>
