.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.user-info-card {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  width: 90%;
  height: 100px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: bold;
  font-size: 16px;
}

.user-email {
  font-size: 14px;
  color: #666;
}
.employees-management-btn {
  width: 90%;
  max-width: 400px;
  padding: 15px 20px;
  font-size: 16px;
  height: 100px;
  font-weight: bold;
  background-color: #245125;
  color: white;
  margin-top: 20px;
}
.spacer {
  flex: 1;
}
.mat-mdc-unelevated-button.btn-danger {
  background-color: #d21919; /* Primary color */
  color: white;
}
